.goBack{
   display: flex;
   align-items: center;
   gap: 8px;
   text-transform: uppercase;
   color: rgba(0, 0, 0, 1);
   font-family: Karla;
   line-height: 21.04px;
   position: absolute;
   z-index: 5;
   background: transparent;
   border: none;
   font-weight: 700;
   font-size: 18px;
   
}