.inner{
   padding: 0;
  
   
}
.css-1hyjysg-MuiCardContent-root:last-child {
   background-color: rebeccapurple;
   padding: 0 !important;
   }

.title{
   font-size: 20px;
   line-height:"30px";
   color: rgba(0, 0, 0, 0.87);
   font-weight: 500;
   letter-spacing:".15px";

}
.text{
   font-size: 14px;
   line-height: 21px;
   letter-spacing: .25px;
   color: rgba(0, 0, 0, 0.6);
}