@font-face {
   font-family: 'Roboto-Bold';
   src: url('../../public/fonts/Roboto-Bold.ttf')
 }
 @font-face {
   font-family: 'Roboto-Medium';
   src: url('../../public/fonts/Roboto-Medium.ttf')
 }
 @font-face {
   font-family: 'Karla';
   font-weight: 700;
   src: url('../../public/fonts/Karla-VariableFont_wght.ttf')
 }